.container {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 0.5em;
  padding: 1em;
  border: 2px solid var(--white-500);
  border-radius: 0.75em;
  color: var(--white-500);
}

.container svg {
  stroke-width: 1px;
}

.container input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  background: none;
}

.Form {
  width: 100%;
}

.inputError {
color: var(--red);
font-size: 0.8em;
margin: 0.5em;
}